.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  gap: 32px;
}

.filters ul {
  margin: 10px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.filters ul  li {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
}

.selected {
  background: #4b4b4b;
}